@import './../global.scss';


.footerContainer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    z-index: -10;
    height: 50px;
}

.fixPosition {
    text-align: center;
}
